<form [formGroup]="myForm" (ngSubmit)="atualizar()">
  <div class="container">
    <h1 mat-dialog-title>{{ inputdata.title }}</h1>
  <div mat-dialog-content>
    <input formControlName="idRestaurante" type="hidden">
    <mat-form-field>
      <mat-label>Nome</mat-label>
      <input formControlName="nome" matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Contato</mat-label>
      <input formControlName="contato" matInput>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button color="primary">Atualizar</button>
    <!-- <button (click)="closePopup()" mat-raised-button color="warn">Close</button> -->
    <button mat-raised-button [mat-dialog-close]="closemessage" color="accent">Cancel</button>
  </div>
  </div>
</form>