<body>
    <h1 class="main-title">Receitas</h1>
    <div class="recipe-container">
      <div class="recipe-item">
        <img src="assets/img/bolo-img.jpeg" alt="Image Bolo">
        <p class="recipe-title">Bolo de Chocolate</p>
      </div>
      <div class="recipe-item">
        <img src="assets/img/panqueca_frango.webp" alt="Image Panqueca">
        <p class="recipe-title">Panqueca de Frango</p>
      </div>
      <div class="recipe-item">
        <img src="assets/img/strogonoff-img.jpeg" alt="Image Strogonoff">
        <p class="recipe-title">Strogonoff de Frango</p>
      </div>
    </div>
  
  </body>
  