<h1 class="main-title">Receitas</h1>

<div class="container">
  <div class="form-group">
    <label for="cozinheiro">Título do Livro:</label>
    <input type="text" id="livro" name="livro" placeholder="Digite o nome do livro">
  </div>

  <div class="form-group">
    <label for="nome">Código ISBN</label>
    <input type="text" id="isbn" name="isbn" placeholder="Digite o código">
  </div>

  <div class="form-group">
    <label for="categoria">Nome do Editor:</label>
    <input type="text" id="editor" name="editor" placeholder="Nome do Editor">
  </div>

  <button class="submit-button">Criar Novo Livro</button>
</div>
